.CenterBlock{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.Block{
    width: 400px;
    height: 400px;
    background: white;
    border: 1px solid black ;

.title1{
    display: flex;
    justify-content: center;
}
.text1{
   font-size: 25px;
    margin-bottom: 150px;
    flex: 1 1 auto;
    color: silver;

}
/*.button{*/
/*    display: flex;*/
/*    justify-content: space-around;*/
/*    align-content: flex-end;*/
/*}*/
.CenterBlock > .button{
    display: flex;
    justify-content: space-around;
    align-content: flex-end;
}
.text1{
    display: flex;
    flex:1 1 auto;
}
.button > a{
    border: 1px solid black;
    padding: 30px 40px 30px 40px;
}
