.CenterBlock{
display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.Block{
    background: white;
    width: 400px;
    height: 600px;
    border: 1px solid black;
}
.title{
    display: flex;
    justify-content: center;
}
.button{
    display: flex;
    justify-content: space-around;
    align-content: flex-end;
}
.button > a{
    border: 1px solid black;
    padding: 30px 40px 30px 40px;
    font-size: 25px;
}
.text{
    display: flex;
    font-size: 25px;
    /*margin-bottom: 250px;*/
    flex: 1 1 auto;
    color: silver;
    text-align: center;
    margin: 100px 10px 120px 10px;
}
a{
    border: 1px solid black;
}